In [3]:
import pandas as pd

df=pd.read_csv("data1.csv")
print(df)

    number name address   rand
0        1   AB      AB  585.0
1        2   AC     NaN    NaN
2        3   AD      AD  410.0
3        4  NaN      AE  875.0
4        5   AF      AF  669.0
..     ...  ...     ...    ...
95      96   DS     NaN  358.0
96      97   DT      DT  440.0
97      98   DU      DU  785.0
98      99   DV      DV   67.0
99     100   DW      DW    NaN

[100 rows x 4 columns]

In [11]:
#to fix the wrong data of a perticular col/row ie cell
df.loc[3,'rand']=343
df.loc[95,'rand']=563
print(df)

    number name address   rand
0        1   AB      AB  120.0
1        2   AC     NaN    NaN
2        3   AD      AD  120.0
3        4  NaN      AE  343.0
4        5   AF      AF  120.0
..     ...  ...     ...    ...
95      96   DS     NaN  563.0
96      97   DT      DT  120.0
97      98   DU      DU  120.0
98      99   DV      DV   67.0
99     100   DW      DW    NaN

[100 rows x 4 columns]

In [13]:
#to replace all the values of 'rand' which is higher than 120
df=pd.read_csv('data1.csv')
for x in df.index:
    if df.loc[x,'rand']>120:
        df.loc[x,'rand']=120
print(df.to_string())

    number name address   rand
0        1   AB      AB  120.0
1        2   AC     NaN    NaN
2        3   AD      AD  120.0
3        4  NaN      AE  120.0
4        5   AF      AF  120.0
5        6   AG      AG  120.0
6        7   AH      AH  120.0
7        8   AI      AI    NaN
8        9   AJ      AJ  120.0
9       10   AK     NaN  120.0
10      11   AL      AL  120.0
11      12   AM      AM  120.0
12      13   AN      AN  120.0
13      14   AO      AO  120.0
14      15   AP      AP  120.0
15      16  NaN      AQ  120.0
16      17   AR     NaN    NaN
17      18   AS      AS  120.0
18      19   AT      AT  120.0
19      20   AU      AU   17.0
20      21   AV      AV    6.0
21      22   AW      AW  120.0
22      23   AX     NaN  120.0
23      24   AY      AY  120.0
24      25   AZ      AZ  120.0
25      26   BA      BA  120.0
26      27  NaN      BB    NaN
27      28   BC      BC  120.0
28      29   BD      BD  120.0
29      30   BE      BE  120.0
30      31   BF      BF  120.0
31      32   BG     NaN  120.0
32      33   BH      BH  120.0
33      34   BI      BI  120.0
34      35   BJ      BJ  120.0
35      36   BK      BK  120.0
36      37   BL      BL  120.0
37      38   BM      BM  120.0
38      39   BN      BN    NaN
39      40   BO      BO  120.0
40      41  NaN      BP  120.0
41      42   BQ     NaN  120.0
42      43   BR      BR  120.0
43      44   BS      BS  120.0
44      45   BT      BT  120.0
45      46   BU      BU   43.0
46      47   BV      BV  120.0
47      48   BW      BW  120.0
48      49   BX     NaN  120.0
49      50   BY      BY  120.0
50      51   BZ      BZ  120.0
51      52   CA      CA  120.0
52      53   CB      CB  120.0
53      54   CC     NaN    NaN
54      55   CD      CD  120.0
55      56   CE      CE  120.0
56      57  NaN      CF  120.0
57      58   CG      CG  120.0
58      59   CH      CH   57.0
59      60   CI      CI  120.0
60      61   CJ      CJ  120.0
61      62   CK      CK  120.0
62      63   CL     NaN  120.0
63      64   CM      CM   81.0
64      65   CN      CN  120.0
65      66   CO      CO    NaN
66      67   CP      CP  120.0
67      68   CQ      CQ  120.0
68      69   CR      CR   16.0
69      70   CS      CS  120.0
70      71  NaN      CT  120.0
71      72   CU      CU  120.0
72      73   CV     NaN   33.0
73      74   CW      CW  120.0
74      75   CX      CX  120.0
75      76   CY      CY  119.0
76      77   CZ      CZ  120.0
77      78   DA      DA    NaN
78      79   DB      DB  120.0
79      80   DC      DC  120.0
80      81  NaN      DD   57.0
81      82   DE     NaN  120.0
82      83   DF      DF  120.0
83      84   DG      DG  120.0
84      85   DH      DH  120.0
85      86   DI      DI  120.0
86      87   DJ      DJ  120.0
87      88   DK      DK    NaN
88      89   DL      DL  120.0
89      90   DM      DM  120.0
90      91   DN      DN  120.0
91      92   DO      DO  120.0
92      93  NaN      DP  120.0
93      94   DQ      DQ  120.0
94      95   DR      DR  120.0
95      96   DS     NaN  120.0
96      97   DT      DT  120.0
97      98   DU      DU  120.0
98      99   DV      DV   67.0
99     100   DW      DW    NaN

In [14]:
#to drop all the values of 'rand' which is higher than 120
df=pd.read_csv('data1.csv')
for x in df.index:
    if df.loc[x,'rand']>120:
        df.drop(x,inplace=True)
print(df.to_string())

    number name address   rand
1        2   AC     NaN    NaN
7        8   AI      AI    NaN
16      17   AR     NaN    NaN
19      20   AU      AU   17.0
20      21   AV      AV    6.0
26      27  NaN      BB    NaN
38      39   BN      BN    NaN
45      46   BU      BU   43.0
53      54   CC     NaN    NaN
58      59   CH      CH   57.0
63      64   CM      CM   81.0
65      66   CO      CO    NaN
68      69   CR      CR   16.0
72      73   CV     NaN   33.0
75      76   CY      CY  119.0
77      78   DA      DA    NaN
80      81  NaN      DD   57.0
87      88   DK      DK    NaN
98      99   DV      DV   67.0
99     100   DW      DW    NaN

In [15]:
#to replace any duplicate values
df=pd.read_csv('data1.csv')
df.drop_duplicates(inplace=True)
print(df.to_string())

    number name address   rand
0        1   AB      AB  585.0
1        2   AC     NaN    NaN
2        3   AD      AD  410.0
3        4  NaN      AE  875.0
4        5   AF      AF  669.0
5        6   AG      AG  340.0
6        7   AH      AH  531.0
7        8   AI      AI    NaN
8        9   AJ      AJ  937.0
9       10   AK     NaN  317.0
10      11   AL      AL  458.0
11      12   AM      AM  196.0
12      13   AN      AN  700.0
13      14   AO      AO  935.0
14      15   AP      AP  364.0
15      16  NaN      AQ  193.0
16      17   AR     NaN    NaN
17      18   AS      AS  958.0
18      19   AT      AT  892.0
19      20   AU      AU   17.0
20      21   AV      AV    6.0
21      22   AW      AW  994.0
22      23   AX     NaN  376.0
23      24   AY      AY  324.0
24      25   AZ      AZ  150.0
25      26   BA      BA  377.0
26      27  NaN      BB    NaN
27      28   BC      BC  937.0
28      29   BD      BD  149.0
29      30   BE      BE  551.0
30      31   BF      BF  917.0
31      32   BG     NaN  749.0
32      33   BH      BH  521.0
33      34   BI      BI  251.0
34      35   BJ      BJ  517.0
35      36   BK      BK  467.0
36      37   BL      BL  156.0
37      38   BM      BM  834.0
38      39   BN      BN    NaN
39      40   BO      BO  853.0
40      41  NaN      BP  924.0
41      42   BQ     NaN  290.0
42      43   BR      BR  718.0
43      44   BS      BS  798.0
44      45   BT      BT  607.0
45      46   BU      BU   43.0
46      47   BV      BV  629.0
47      48   BW      BW  702.0
48      49   BX     NaN  227.0
49      50   BY      BY  248.0
50      51   BZ      BZ  756.0
51      52   CA      CA  385.0
52      53   CB      CB  193.0
53      54   CC     NaN    NaN
54      55   CD      CD  636.0
55      56   CE      CE  992.0
56      57  NaN      CF  546.0
57      58   CG      CG  950.0
58      59   CH      CH   57.0
59      60   CI      CI  798.0
60      61   CJ      CJ  870.0
61      62   CK      CK  278.0
62      63   CL     NaN  131.0
63      64   CM      CM   81.0
64      65   CN      CN  716.0
65      66   CO      CO    NaN
66      67   CP      CP  172.0
67      68   CQ      CQ  428.0
68      69   CR      CR   16.0
69      70   CS      CS  721.0
70      71  NaN      CT  197.0
71      72   CU      CU  999.0
72      73   CV     NaN   33.0
73      74   CW      CW  300.0
74      75   CX      CX  344.0
75      76   CY      CY  119.0
76      77   CZ      CZ  419.0
77      78   DA      DA    NaN
78      79   DB      DB  538.0
79      80   DC      DC  123.0
80      81  NaN      DD   57.0
81      82   DE     NaN  908.0
82      83   DF      DF  268.0
83      84   DG      DG  362.0
84      85   DH      DH  865.0
85      86   DI      DI  840.0
86      87   DJ      DJ  163.0
87      88   DK      DK    NaN
88      89   DL      DL  556.0
89      90   DM      DM  371.0
90      91   DN      DN  449.0
91      92   DO      DO  291.0
92      93  NaN      DP  302.0
93      94   DQ      DQ  844.0
94      95   DR      DR  996.0
95      96   DS     NaN  358.0
96      97   DT      DT  440.0
97      98   DU      DU  785.0
98      99   DV      DV   67.0
99     100   DW      DW    NaN